* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(35deg, #52e2f5, #f1f8e9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  margin: 0;
}


form {
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 15px;
  width: 85%;
  max-width: 600px;
  align-self: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1, h3, p {
  text-align: center;
}

h1 {
  color: #00695c;
  margin-top: 10px
}

h3 {
  color: #000000;
  margin-top: 15px;
}

p {
  color: #000000;
  margin-top: 15px;
}

form div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  border-radius: 15px;
  width: 60%;
  align-self: center;
  border: 1px solid #ccc;
  outline: none;
}

input[type="radio"] {
  margin-right: 6px;
}

.radio-group {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

button {
  padding: 15px;
  width: 100%;
  background: #009688;
  color: white;
  border: none;
  border-radius: 60px;
  font-size: 1.5rem;
  font-weight: 900;
  align-self: center;
}

button:hover {
  background: #00796b;
}
